<div class="container-fluid" style="padding-top: 20px">
    <div  class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createAuthor">Crear un nuevo Evento</label>
                <label ng-if="edit" id="editAuthor">Editar Evento</label></div>
            <div class="panel-body">
                <form name="evento">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="eventoName" class="col-sm-2">Nombre:</label>
                            <input id="eventoName" required ng-model="data.nombre" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="eventoDate" class="col-sm-2">Fecha:</label>
                            <input type="date" id="eventoDate" placeholder="DD/MM/YYYY" required ng-model="data.fecha" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="eventoCelebrado" class="col-sm-2">Celebrado:</label>
                            <input id="eventoCelebrado" required ng-model="data.celebrado" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="eventoLugar" class="col-sm-2">Lugar:</label>
                            <input id="eventoLugar" required ng-model="data.lugar" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="eventoInvitados" class="col-sm-2">Num. Invitados:</label>
                            <input id="eventoInvitados"  min="1" type="number" required ng-model="data.invitados" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="eventoDescripcion" class="col-sm-2">Descripcion:</label>
                            <textarea id="eventoDescripcion" required ng-model="data.descripcion" class="col-sm-6"></textarea>
                        </div>
                   </div>
                <div class ="container-fluid">
                    <h2>Temáticas</h2>
                    <div class="row">
                        <label>Search: <input ng-model="searchText"></label>
                        <div class="col-sm-4" 
                            data-ng-repeat="tematica in tematicasRecords |filter:search">
                            <div class="panel-group">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">{{tematica.descripcion}}</div>
                                    <div class="panel-body">
                                        <h2>Productos</h2>
                                            <div class="row">
                                                <div class="col-sm-4" 
                                                data-ng-repeat="producto in productosRecords |filter:search| pagination: curPage * pageSize | limitTo: pageSize">
                                                <div class="panel-group">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading">{{producto.ID}}</div>
                                                        <div class="panel-body">
                                                             <div class="thumb">
                                                                <a ui-sref="productosDetail({productoId: producto.ID, proveedorId: proveedorId })"><img class="img-responsive" ng-src="{{currentProducto.imagen}}"/>}}</a>
                                                             </div>
                                                        </div>
                                                        <div class="panel-footer"></div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="panel-footer">Footer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!evento.$valid">
                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="row" ng-if="edit">
                        <div class="col-sm-12 col-md-5">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Metodo de Pago</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="edit" ng-repeat="pago in pagos">
                                        <td id="{{$index}}-estado">{{pago.estado}}</td>
                                        <td id="{{$index}}-metodo">{{pago.metodoPago}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-if="!edit"  ng-show="evento.$valid" ng-click="createEvento()" value="Save" class="btn btn-success"/>
                            <input ng-if="edit"  ng-show="evento.$valid" ng-click="updateEvento()" value="Update" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="eventosList">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>