<div class="container-fluid">

    <div class="col-md-3">
        <dl>
            <dt>{{currentPago.id}}</dt>
            <hr>
            <dt class="bold">Estado</dt>
            <dd>{{currentPago.estado}}</dd>
            <hr>
            <dt class="bold">Metodo De Pago</dt>
            <dd>{{currentPago.metodoPago}}</dd>
            <hr>
            <dt class="bold">Valor</dt>
            <dd>{{currentPago.valor| currency:"COP": 0}}</dd>
            <hr>
            <dt class="bold">Realizado</dt>
            <dd ng-if="currentPago.realizado==true">Pagado</dd>
            <dd ng-if="currentPago.realizado==false">No Pagado</dd>
        </dl>
    </div>
</div>

