.margin-top{
    padding-top: 20px;
}

.mainHeader {
    padding: 20px;
    background-color: lightblue;
}

.logo{
    display: block;
    object-fit: cover;
}

.mainTitle {
    font-variant: small-caps;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.subTitle{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}



