.margin-top{
    padding-top: 20px;
}

.mainHeader {
    padding: 20px;
    background-color:  white;
}

.logo{
    display: block;
    object-fit: cover;
}

.mainTitle {
    font-variant: small-caps;
    color: whitesmoke;
    font-family: 'Century Gothic',sans-serif;
}

.subTitle{
    font-family: 'Century Gothic', sans-serif;
    color: whitesmoke;
}

.separator{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
}




