body
{
    font-family: "Century Gothic", sans-serif;
}
.listView
{
    background-color: rgba(255,255,255,0.4); 
}
.detailView
{
    background-color: rgba(255,255,255,0.4); 
}

.margin-top{
    padding-top: 20px;
}

.mainHeader {
   
    background-color:  whitesmoke;
}

.logo{
    display: block;
    object-fit: cover;
}

.mainTitle {
    color:#000;
    font-family: 'Anton';
    


        
}

.subTitle{
    font-family: 'Century Gothic', sans-serif;
    color: whitesmoke;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vertical-menu {
    width: 200px; 
}

.vertical-menu a {
    background-color: #eee; 
    color: black;
    display: block; 
    padding: 12px; 
   
}

.vertical-menu a:hover {
    background-color: #245569; 
    color: black;
    text-decoration: none;
}








