<div ng-if="!isAuthenticated()" class="container">
    <form class="form-signin">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
        <h1 class="form-signin-heading text-muted">Log In</h1>
        <input type="text" class="form-control" placeholder="Username" required="" autofocus="" ng-model="data.login">
        <input type="password" class="form-control" placeholder="Password" required="" ng-model="data.contrasena">
        <select class="form-control" name="singleSelect" id="singleSelect" ng-model="data.rol" required="true">
            <option value="">--- Por favor selecciona rol ---</option> <!-- not selected / blank option -->
            <option value="Admin">Administrator</option>
            <option value="Cliente">Cliente</option>
           <option value="Proveedor">Proveedor</option>
        </select>
        <br>
        <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="autenticar()">
            Log In
        </button>
        <a class="btn btn-lg btn-primary btn-block" ui-sref="main">Cancel</a>
    </form>
</div>