<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createProducto">Create new Producto</label>
                <label ng-if="edit" id="editProducto">Edit Producto</label></div>
            <div class="panel-body">
                <form ng-submit="createProducto()" name="producto">
                    <div class="form-group row">
                        <div class="form-group container-fluid">
                            <label for="productoDescripcion" class="col-sm-2">Nombre:</label>
                            <input type ="text" id="productoDescripcion" required ng-model="data.descripcion" placeholder = "Descripcion del Producto" class="col-sm-6"> </input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group container-fluid">
                            <label for="productoIncluye" class="col-sm-2">Incluido: </label>
                            <input type="text" id="productoIncluye" required ng-model="data.incluidos" placeholder = "Lo que incluye" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group container-fluid">
                            <label for="productoPersonal" class="col-sm-2">Personal: </label>
                            <input type="" id="productoPersonal" required ng-model="data.personal" placeholder = "15" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group container-fluid">
                            <label for="productoPrecio" class="col-sm-2">Precio: </label>
                            <input id="productoPrecio" required ng-model="data.precio" placeholder = "Precio del producto"class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group container-fluid">
                            <label for="productoImagen" class="col-sm-2">Imagen: </label>
                            <input id="productoImagen" required ng-model="data.imagen" placeholder = "https://secure-ds.serving-sys.com/BurstingRes/Site-101164/Type-0/324fe49b-8410-4ce6-a5d7-b888eb0534f2.gif" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!producto.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div>
                     <div class="form-group row">
                        <div class="form-group container-fluidcenter-block">
                            <input ng-if="!edit"  ng-show="producto.$valid" ng-click="createProducto()" value="Save" class="btn btn-success"/>
                            <input ng-if="edit"  ng-show="producto.$valid" ng-click="updateProducto()" value="Update" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="productosList">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


