<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createProducto">Create new Producto</label>
                <label ng-if="edit" id="editProducto">Edit Producto</label></div>
            <div class="panel-body">
                <form ng-submit="createProducto()" name="producto">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="productoNombre" class="col-sm-2">Nombre:</label>
                            <input id="productoNombre" required ng-model="productoNombre" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="productoDescripcion" class="col-sm-2">Descripcion:</label>
                            <textarea id="productoDescripcion" required ng-model="productoDescripcion" class="col-sm-6"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="productoIncluye" class="col-sm-2">Incluye: </label>
                            <input id="productoIncluye" required ng-model="productoIncluye" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="productoPersonal" class="col-sm-2">Personal: </label>
                            <input id="productoPersonal" required ng-model="productoPersonal" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="productoPrecio" class="col-sm-2">Precio: </label>
                            <input id="productoPrecio" required ng-model="productoPrecio" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!producto.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div>
                     <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-if="!edit"  ng-show="producto.$valid" ng-click="createProducto()" value="Save" class="btn btn-success"/>
                            <input ng-if="edit"  ng-show="evento.$valid" ng-click="updateProducto()" value="Update" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="productosList">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


