<div class="container-fluid">
    <div class="row"ng-controller="mainCtrl" id="slides_control">
        <div>
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img style="align-self: center; width: 100%" ng-src="{{slide.image}}" >
                    <div class="carousel-caption" style ="font-family: Roboto" >
                        <h3><b>{{slide.title}}</b></h3>
                        <h4><b>{{slide.text}}</b></h4> 
                    </div>
                </slide>
            </carousel>
        </div>

     
    </div> 
    
    <center>
 
        <div  ng-if="!isAuthenticated()" style= "margin-top: 10px; font-family: Roboto"><button type="button" class="btn btn-primary center" style = "background-color: #245569; border-color: #000" ui-sref="signin" ><b> ¡Empieza a planear tu fiesta!</b> </button></div>   
  
</center>

</div>
